:root{
    --color-primay: #00a5be;
    --color-secondary: #685128; 
    --color-light: #fff;
    --color-dark: #000;
}

/* globales */
body{
    margin: 0;
    background-color: var(--color-primay);
    font-family: system-ui;
}
.btn{
    display: none;
}

.container{
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 768px){
    .container{
        width: 90%;
    }
}

.logo{
    display: block;
    width: 70%;
    margin: 0 auto;
    grid-area: logo;
}

@media (min-width: 768px){
    .logo{
        width: 50%;
    }
}
.caracter{
    text-align: center;
}
.caracter-img{
    width: 80%;
    border-radius: 100%;
}

.caracter-name{
    font-size: 50px;
}
.caracter-label{
    background-color: var(--color-secondary);
    color: var(--color-light);
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    text-align: left;
}
@media (max-width: 480px){
    .caracter-labels{
        width: 100%;
        display: block;
    }
}

 @media (min-width: 900px){
    .caracter-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'name image' 'labels labels';
    }
    .caracter-name{
        
        text-align: left;
        font-size: 40px;
        position: relative;
    }
    .caracter-name::after{
        content: '';
        width: 87px;
        height: 6px;
        background-color: #f7391c;
        display: inline-flex;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
    }

    .caracter-labels{
        grid-area: labels;
       
    }
    .caracter-img{
        grid-area: image;
        width: 80%;
        
    }

} 
@media (min-width: 1100px){
    .caracter-img{
        width: 50%;
        
    }
}
@media (min-width: 1500px){
    .caracter-img{
        width: 70%;
        
    }
}
.grid{
    height: 95vh;
    padding: 4em;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 200px;
    grid-template-rows: 230px 100px 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-template-areas: "asset-top logo logo sociales" "name caracter-name avatar avatar" "about description avatar avatar" "asset-bottom chars avatar avatar" "asset-bottom asset arrow othr-line";
    
}
.learn-more{
    grid-area: asset;
    margin-right: 20px;
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    background-image: url('../images/learn-more.svg');
    background-repeat: no-repeat;
    background-position: left 170px bottom 5px;
}
.arrow{
    grid-area: arrow;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-position: center bottom ;
    cursor: pointer;
    display: block;
}
.caracter-image-container{
    grid-area: avatar;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caracter-name-container{
    grid-area: caracter-name;
    padding-left: 5px;
}
.caracter-description-container{
    grid-area: description;
}
.caracter-description-container img{
    width: 100%;
}

.asset{
    display: flex;
    align-items: center;
    writing-mode: vertical-lr;
}
.asset.top{
    grid-area: asset-top;
}
.asset.bottom{
    grid-area: asset-bottom;
    justify-content: flex-end;

}

.sociales{
    grid-area: sociales;
}
.name{
    grid-area: name;
}
.about{
    grid-area: about;
}

.navegacion{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.navegacion a{
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: black;           
}


.navegation .text{
    display: inline-block;
    padding: 35px 0;
}
.linea{
    width: 2px;
    height: 100px;
    background-color: #000;
    display: inline-flex;
    position: relative;
    bottom: 4px;
    margin: 10px 0;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    display: inline-flex;
    margin: 5px 0;
}
/* .navegation{
    /* transform-origin: left bottom;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    height: 100vh;
    border: 1px solid #000;
    position: absolute;
    left: 1em;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    display: none; 
} */


@media (max-width: 1000px){
    .grid{
        display: grid;
        grid-template-columns: 50px 1fr 200px;
        grid-template-rows: 230px 500px 100px 1fr 1fr;
        grid-column-gap: 2em;
        grid-template-areas: "asset-top logo sociales" "name  avatar avatar" "name caracter-name caracter-name" "about description description"  "asset-bottom asset arrow";
        margin-bottom: 20px;
    }
    .caracter-name-container h2{
        text-align: center;
    }
  
}
@media (max-width: 990px){
    .grid{
        display: grid;
        grid-template-columns: 50px 1fr 200px;
        grid-template-rows: 230px 500px 100px 1fr 1fr 1fr;
        grid-template-areas: "asset-top logo logo" "name  avatar avatar" "name caracter-name caracter-name" "about description description"  "asset-bottom asset arrow"  "sociales sociales sociales";
        padding: 2em;
    }
    .sociales{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
    }
}

@media (max-width: 550px){
    .grid{
        display: grid;
        grid-template-columns: 50px 1fr 200px;
        grid-template-rows: 230px 200px 200px 500px 1fr 1fr;
        grid-template-areas: "logo logo logo" "avatar  avatar avatar" "caracter-name caracter-name caracter-name" "description description description"  "arrow arrow arrow"  "sociales sociales sociales";
        padding: 2em;
        grid-gap:0;
    }
    .arrow{
        background-position: center;
        display: none;
      
    }
    .learn-more,.navegacion, .asset{
        display: none;
    }
    .caracter-name{
        margin-top: 150px;
    }
    .caracter-description-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn{
        display: flex;
        grid-area: arrow;
        background-color: var(--color-secondary);
        font-size: 25px;
        padding: 10px 20px;
        border-radius: 50%;
        text-decoration: none;
        color: var(--color-light);
        width: 50px;
        height: 50px;
        align-items: center;
    }
    .btn-container{
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: center;
        margin-left: 100px;
    }
}